body{
    background-color: beige;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}
h1{
    color: black;
    margin-left: 20px;
}
p{
    color: black;
    margin-left: 20px;
}